$black: black;
$blue:blue;
$yellow:yellow;
$red:red;
$white:white;
$green:green;

// h1 { 
//   font-size: 70px;
//   background-image: url(PICTURE/GOFIA.jpg);
//   color: transparent;
// }

.form {
    &_container {
        display: flex;
    }
&_input{
  border-radius: 10px;
  height: 30px;
  margin-right: 15px;
  padding: 5px;
  outline-color:transparent;
  border-color: $yellow;  
}
&_btn {
  border-radius: 10px;
  color: $white;
  background-color: $blue;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
    &:hover {
        background-color: $green;
    }
}
}